html {
    height: 100%;
    }
body {
    min-height: 100%;
    }

body{
    width: 1600px;
    margin: 0px auto;
}
a{
    text-decoration: none;
}

header {
    height: 80px;
    background-color: black;
    margin: 0px auto;
    position: relative;
    width: 1600px;
}
.default-width{
    width: 1160px;
    margin: 0px auto;
}
.logo{
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    width: 72.49px;
    height: 44.91px;

    margin: 13px 0px;
    padding: 3.55px 4.75px;
}
.logo h1{
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}
.bamboo-icon{
    position: absolute;
    width: 11.03px;
    height: 23.98px;
    left: 11.23px;
    top: 22.64px;

}
.nav-ul {
    display: inline-flex;
    color: #FFF;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 29px 0px 0px 145px;
    padding-left: 0px;
    height: 22px;
}

.nav-ul li{
   margin-right: 58px;
   margin-left: 0px;
   text-align: left;
}

.nav-ul li a{
    text-decoration: none;
    color: white;
 }
 .nav-ul li a:hover{
    text-decoration: none;
    color: #FE9013;
 }
 .nav-ul li  .active{
    color: #FE9013;
}
.nav-ul li::after{
    color: #FE9013;
}
.designed-by {
    float: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin-top: 27px;
    color: white;
}
.designed-by a{
    color: white;
}
.burger{
display: none;
}
.burger-content{
   display: none;
    }
    .blur{
        filter: blur(15px);
       }
.panda-img{
    width: 1600px;
    margin: 0px auto;
    height: 780px;
    background-image: url("../../assets/images/giant-panda.png");
    background-color:#000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.circle{
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 240px);
    top: 92px;
}
.panda-text{
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 331.15px);
    top: 166px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.favorite-yellow-text{
    color: #FFEE2E
}
.watch-btn{
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px / 2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 25px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
}
.watch-btn:hover {
    color: #f9804b;
    background: #faecdb;
    cursor: pointer;
    border: 1px solid #f9804b;
}
.default-width{
    margin-bottom: 180px;
}
.hat-man {
    background: url("../../assets/images/bamboo-cap.png");
    background-size: cover;
	width: 609px;
	height: 403px;
	backdrop-filter: blur(2px);
}
.entry-text{
    width: 1160px;
	display: grid;
	grid-template-columns: 1fr 1fr;
    margin: 0px auto;
	margin-top: 140px;
    margin-bottom: 163px;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: #333B41;
}
.entry-text h2{
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
	margin-bottom: 20px;
	margin-top: 0px;
}
.entry-text p{
	font-size: 16px;
	line-height: 130%;}

.entry-text h3{
	font-size: 24px;
	line-height: 120%;
	color: #333B41;
	margin: 58px 0px 34px 0px;
}
.entry-text .about-text {
	text-align: left;
	padding-left: 85px;
    line-height: 22.4px;
}
.entry-text .about-text h3{
	margin-top: 54px;
}
.wrapper{
height: 1189px;
    max-width: 1600px;
    margin: 0px auto;
    text-align: center;
}
.grid-wrapper{
    position: relative;
    top: -550px;
    max-width: 1160px;
    margin: 0px auto;
}

.gallery{
display: grid;
    position: relative;
    margin: 0px auto;
    width: 1160px;
margin-right: 0px;
margin-left: 0px;
       place-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
   	column-gap: 30px;
	font-family: 'Roboto';
	font-style: normal;
	color: #000000;
    place-items: center;

    }
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }


.gallery .gallery-blocks img{
	width: 366px;
	height: 366px;
    border-radius: 5px;
}

.gallery .gallery-blocks img:hover{
    transition: all 0.3s ease;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery-blocks{
    border: 1px solid #FE9013;
    border-radius: 5px;
    width: 366px;
    margin-bottom: 23px;
}
.blocks-heading{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    margin: 3px 0px 0px 16px;
    transform: translateY(0px);
    text-align: left;

}
.gallery .gallery-blocks:hover .img-info-block{
    transform: translateY(-60px);
    transition: all 0.4s ease;
    background-color: #b5bfc58a;
    color: white;
}
.img-info-block{
    transform: translateY(0px);
    transition: all 0.4s ease;
}

.blocks-paragraph{
    font-weight: 300;
    font-size: 15px;
    margin: 0px 0px 8px 16px;
}
.img-info-block{
    display: flex;
    justify-content: space-between;
    height: 50px;
}
.img-info-block .icon img{
    width: 48px;
    height: 38px;
    padding: 8px 8px 12px 0px;
}
.img-info-block .icon-banana img{
    width: 33px;
    height: 37px;
    padding: 8px 8px 12px 0px;
}
.flower-right-border{
  width: 293px;
  height: 605px;
  display: flex;
  position: relative;
  float: right;
  top: -699px;
  right: -90px;
}

.bottom-flowers{
  width: 1600px;
  display: flex;
  justify-content: space-between;
  margin: 0px auto;
  position: relative;
  height: 100px;
  top:-735px;
}

.palm-left-border img{
    display: flex;
    position: relative;
    height: 460px;
    left: -565px;
    top:-155px;
}
.palm-right-border img{
    display: flex;
    position: relative;
    top:30px;

}
.arrows{
  display: flex;
  position: relative;
  justify-content: space-between;
  margin: 0px auto;
  position: relative;
  width: 1360px;
  top: -1045px;
  cursor: pointer;
}
    .arrows img{
    width: 62px;
    height: 62px;
    cursor: pointer;
    }
    .arrow-btn{
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    .arrow-btn:hover{
        cursor: pointer;
        transition: all 0.4s ease;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
.choose-favorite-btn{
    display: block;
    margin:0px auto;
    position: relative;
    top: -550px;
    margin-top: 0px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 25px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    }
    .choose-favorite-btn:hover{
        background: #faecdb;
        cursor: pointer;
        border: 1px solid #f9804b;
        color: #FE9013;
    }
    .feed-btn{
        display: block;
        margin:0px auto;
        position: relative;
        margin-top: 0px;
        width: 298px;
        height: 54px;
        background: #FE9013;
        border-radius: 25px;
        border: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        color: white;
        }
        .feed-btn:hover{
            background: #faecdb;
            cursor: pointer;
            border: 1px solid #f9804b;
            color: #FE9013;
        }

.how-tofeed-section {
position: relative;
background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
height: 975px;
padding-top: 30px;
  }
   .how-to-feed{
    text-align: center;
    width: 1160px;
    background: rgba(253, 253, 255, 0.52);
    height: 835px;
    border-radius: 20px;
    margin: 0px auto;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 120%;
    }
    .how-to-feed .head{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    padding-top: 40px;
    margin-bottom: 33px;
    }

    .how-to-feed h4{
        margin: 0px 0px 40px 99px;
        text-align: left;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        }
.how-to-feed h5{
    text-align: left;
    margin: 0px 0px 0px 99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}
   .how-to-feed p{
    margin: 10px 198px 0px 99px;
    text-align: left;
    font-size: 16px;
    color: #333B41;
    line-height: 130%;
}
.orange-underline{
    text-decoration: underline;
    text-decoration-color: #FE9013;
    color: #333B41;
}
.how-to-feed h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    margin-top: 45px;
    margin-bottom: 45px;
}
.how-to-feed-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
    margin-bottom: 30px;
}
.arrow-640{
    display: none;
}
.how-to-feed-cards-div{
width:168px;
}
.how-to-feed-spans {
    margin: 0px auto;
    text-align: center;
    height: 80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
    width: 740px;
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 0px;
}
.how-to-feed-spans span{
    text-align: left;
}
.arrow{
    display:flex;
    position: relative;
    top: -60px;
}
.testomonials h3{
text-align: center;
margin: 140px 0px 47px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #333B41;
}
.feedbacks{
 max-width: 1160px;
display: flex;
justify-content: center;
column-gap: 30px;
margin: 0px auto;
}


.feedback-block::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background-image: linear-gradient(300deg,
    rgba(254, 189, 171, 0.74),
    rgba(243, 169, 248, 0.66),
    rgba(224, 216, 240, 1));
  }
.feedback-block h4{
    display: inline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    width: 97px;
    height: 19px;
    position: relative;
    top: -20px;
    margin-left: 10px;
    }
.feedback-block img{
    width: 37px;
    height: 37px;
}
.feedback-block p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #767474;
    line-height: 120%;
    margin: 0px auto;
    margin-top: 15px;
    position: relative;
    top: -30px;
	width: 237px;
    height: 309px;
    overflow: hidden;

}
.feedback-block span{
display: block;
position: relative;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
position: relative;
top: -20px;
left: 37px;
margin-left: 10px;
}

.scroll-bar{
    max-width: 1250px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.invisible-part-scrollbar{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
grid-template-areas: "first second third fourth";
grid-auto-flow: column;
column-gap: 10px;
margin: 0 auto;
margin-top: 5px;

width: 1160px;
overflow: hidden;
}

.pos-1{
    grid-area: first;
}

.feedback-block{

    background: #F1F3F2;
    width: 228px;
    height: 350px;
    position: relative;
    padding: 15px 15px 19px 16px;
    margin: 0px;
    margin-bottom: 21px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
    }


   input[type="range"]{
    -webkit-appearance: none;
        width: 700px;
        margin: 0 auto;
        display: flex;
    }


input[type=range]::-webkit-slider-runnable-track {
    box-shadow: inset 0 0 2px #e8aa37;
	background: #F5F7F6;
	border: 1px solid rgba(250, 149, 121, 0.74);
	border-radius: 8px;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 77px;
	background-color: #FE9013;
	border-radius: 5px;
  }
#range:hover{
    cursor: pointer;
}
.square-btn{
    display: block;
    margin-top: 30px;
    margin-left: 220px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    }
    .square-btn:hover{
        color: #f9804b;
        background: #faecdb;
        cursor: pointer;
        border: 1px solid #f9804b;
    }
.leaf-right-border {
	display: flex;
	position: relative;
    justify-content: end;
	top: -35px;
    right: -110px;
    height: 180px;
}
.leaf-right-border img{
    height: 295.45px;
    transform: rotate(30deg);
}
.square-btn-after-scroll{
    position: relative;
    left: 185px;
    display: block;
    margin-top: 20px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    }
    .square-btn-after-scroll:hover{
        color: #f9804b;
        background: #faecdb;
        cursor: pointer;
        border: 1px solid #f9804b;
}
.square-btn-after-scroll-block{
    margin: 0px auto;
    max-width: 1600px;
}
.square-btn-after-scroll-block-div{
    margin: 0px auto;
    max-width: 1600px;
}
footer{
	position: relative;
	width: 1600px;
	background: #111115;
	height: 460px;
    margin: 0px auto;
}
.footer-wrapper{
    margin: 0px auto;
    max-width: 1160px;
padding-top: 42px;
height: 402px;
}
.footer-grid img{
    width: 82px;
    height: 52px;
}
footer .subscribe-block{
    height: 25px;
}
.footer-grid h2{
    position: relative;
    top:-75px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
margin-left: 792px;
}
.footer-grid .text-input{
width: 210px;
height: 40px;
border: 1px solid #874E1C;
border-radius: 4px;
background-color: transparent;
color: #FFF;
padding-left: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-right: 5px;
}
.footer-grid .submit-input{
width: 129px;
height: 43px;
color: #000000;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #4B9200;

}
.footer-grid .submit-input:hover{
    background-color: #FBC5AC;
    color:#000000;
    cursor: pointer;
}
.footer-grid form{
position: relative;
top:-83px;
margin-left: 792px;
}
footer .square-btn{
margin: 22px 0px 45px 0px;
}

footer .social-medias{
    list-style: none;
    padding-left: 0px;
}
footer .social-medias{
    list-style: none;
    padding-left: 0px;
}
footer .social-medias-li{
    height: 30px;
}
footer .sm-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
margin: 0px 0px 10px 0px;
position: relative;
left: 3px;
top: -6px;
}
footer .social-medias-li img{
    position: relative;
    top: 6px;
    margin-right: 10px;
}
footer .sm-link:hover{
    color: rgba(75, 146, 0, 1);
}

footer .nav-ul {
    position: relative;
    top: -72px;
    margin-left: 399px;
    padding-left: 0px;
}
.footer-designed-by{
    display: flex;
    position: relative;
    float: right;
   left: 30px;;
    top: -95px;
    margin-right: 31px;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 180%;
}
footer .nav-ul li{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
margin-right: 58px;
}

.social-medias-li {
    height: 26px;
    margin: 5px 0px 5px 0px;
}
.social-medias-640{
    display: none;
}
.logo-320 {
    display: none;
}
.social-medias-320{
    display: none;
}
.feedback-block-popup{
    display: none;
}
.blured-fon1, .blured-fon1, .blured-fon1{
    display: none;
}

@media screen and (max-width: 1000px) {
html {
height: 100%;
}
body {
min-height: 100%;
max-width: 1000px;
}
header{
z-index: 1;
max-width: 1000px;
margin: 0 auto;
}
.default-width{
max-width: 940px;
margin-left: 30px;

}
.logo{
margin-right: 39px;
}
.nav-ul li{
margin-right: 48px;
margin-left: 0px;
text-align: left;
 }

.panda-img{
max-width: 1000px;
max-height: 584px;
margin: 0 auto;
margin-left: 0px;
background-size: cover;
background-position: center center;
}
.circle{
position: absolute;
width: 367px;
height: 367px;
left: calc(50% - 367px/2 + 139.5px);
top: 69px;
z-index: 0;

}
.panda-text{
position: absolute;
width: 400.25px;
height: 320px;
left: calc(50% - 400.25px/2 + 214.12px);
top: 122.8px;
font-size: 85px;
line-height: 75%;
}
.watch-btn{
position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2 + 214px);
top: 483px;
}
footer{
    max-width: 1000px;
    margin: 0px auto;
}
.footer-wrapper{
max-width: 940px;
margin: 0px auto;
margin-left: 30px;
}
footer .sm-link{
margin-left: 0px;
}
.footer-grid form{
margin-left: 541px;
}
.footer-grid h2{
margin-left: 541px;
}
footer .nav-ul{
margin-left: 291px;
text-align: left;
}
#active-links-footer li{
margin-left: 0px;
margin-right: 48px;
}
.footer-designed-by{
display: flex;
position: relative;
float: right;
   left: 30px;;
top: -90px;
margin-right: 31px;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 180%;
}

.entry-text{
margin-top: 100px;
margin-bottom: 142px;
height: 427px;
width: 940px;
}
.hat-man{
height: 408px;
width: 455px;
margin-top: 10px;
background-position: cover;
background-position: center;
}


.entry-text .about-text{
padding-left: 31px;
}
.about-text h2{
width: 454px;
}
main{
width: 1000px;
}
.wrapper{
height: 1200px;
width: 1000px;
margin: 0 auto;
}
.grid-wrapper{
width: 940px;
}
.gallery{
width: 940px;
margin-bottom: 72px;
}
.gallery-blocks{
width: 292px;
height: 352px;
column-gap: 29px;
margin-bottom: 130px;
}
.gallery-blocks img{
max-width: 292px;
max-height: 292px;
}
.arrows{
top: -1200px;
width: 310px;
margin: 0px auto;
}
.choose-btn-div{
display: flex;
position: relative;
top: -80px;
text-align: center;
}
.bottom-flowers{
top: -870px;
height: 63px;
}
.palm-left-border img{
height: 202px;
width: 386px;
left: -192px;
top: 105px;
}
.palm-right-border img{
width: 241px;
height: 180px;
right: 591px;
top: 130px;
}
.flower-right-border img{
display: none;
}
.choose-btn-div{
    width:  940px;
    top: -150px;
}
.how-tofeed-section{
max-width: 1000px;
height: 846px;
}
.how-to-feed{
max-width: 940px;
height: 796px;
}
.how-to-feed-cards{
margin-bottom: 35px;
}
.how-to-feed .head{
margin-top: 0px;
padding-top: 30px;
margin-bottom: 20px;
  }
.how-to-feed h4{
margin-bottom: 20px;
max-width: 843px;
}
.how-to-feed h5{
 max-width: 813px;
}
.how-to-feed p{
max-width: 823px;
margin-bottom: 0px;
}
.how-to-feed h4,.how-to-feed h5,.how-to-feed p{
margin-left: 49px;
}
.how-to-feed h3{
margin-top: 40px;
 }
.how-to-feed-spans{
margin-top: 30px;
margin-bottom: 0px;
}
.arrow{
    display: flex;
    position: relative;
top: -60px;
}
section{
width: 1000px;
}
.testomonials{
height: 740px;
}
.testomonials h3{
margin-top: 100px;
margin-bottom: 30px;
}
.invisible-part-scrollbar{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "first second third";
    width: 870px;
}
.feedbacks {
max-width: 940px;
}
.feedback-block p {
width: 235px;
height: 350px;
line-height: 18px;
}
.feedback-block{
    margin-top: 5px;
height: 353px;
}
.square-btn-after-scroll{
margin-top: 53px;
}
.square-btn-after-scroll-block{
max-width: 1000px;
}
.square-btn-after-scroll-block-div{
max-width: 940px;
}
.scroll-bar{
margin: 0px auto;
max-width: 940px;
width: 940px;
}
.leaf-right-border {
	top: -50px;
right: -90px;
height: 180px;
}
.leaf-right-border img {
width: 239.98px;
height: 235.62px;
}
}

@media screen and (max-width: 640px) {
html {
height: 100%;
}
body {
    width: 640px;
min-height: 100%;
margin: 0px auto;margin: 0px auto;
}
header{
    width: 640px;
    margin: 0px auto;
z-index: 1;
height: 34px;
position: fixed;
}
.default-width{
width: 640px;
   margin: 0px auto;
   margin-left: 15px;
}
.logo{
border-color: #000000;
font-family: 'Roboto';
font-style: normal;
width: 46.86px;
height: 29.03px;
display: flex;
top: -18px;
}
.logo h1{
font-weight: 400;
font-size: 12.2899px;
line-height: 120%;
margin-top: 3px;
}
.bamboo-icon{
height: 13px;
top: 20px;
left: 6px;
}
.burger{
    cursor: pointer;
max-width: 20px;
display: flex;
padding: 11px;
left: 580px;
position: fixed;
z-index: 3;
}
.burger img{
    width: 25px;
    float: right;
}
.burger-red-cross{
width: 30px;
position: relative;
float: right;
padding: 20px 40px;
}

.burger-logo{
    padding: 10px;
}
.burger-nav-ul{
    list-style: none;
}
.burger-nav-ul {
   padding-left: 0px;
   margin-bottom: 0px;
   margin-top: 16px;
 }
.burger-nav-ul li a, .burger-designed-by a{
   color: #333B41;
   margin-left: 10px;
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 140%;
}
.burger-nav-ul li{
    margin-bottom: 15px;
}
.burger-designed-by{
margin-top: 0px;
}
.burger-content-show{
    display: block;
    position: fixed;
    width: 640px;
    height: 329px;
    background: #FFFFFF;
    z-index: 2;
    }

.nav-ul, .designed-by {
display: none;
 }

.panda-img{
width: 640px;
max-height: 373px;
margin: 0 auto;
margin-left: 0px;
background-size: cover;
background-position: center center;
}
.circle{
position: absolute;
width: 237.6px;
height: 237.6px;
left: calc(50% - 237.6px/2 + 130.44px);
top: 44.23px;
z-index: 0;

}
.panda-text{
position: absolute;
width: 255.64px;
height: 204.38px;
left: calc(50% - 255.64px/2 + 176.76px);
top: 82.04px;
font-weight: 700;
font-size: 54.2894px;
line-height: 75%;
}
.watch-btn{
position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2 - 151px);
top: 279px;
}
.hat-man{
display: none;
}
.entry-text{
margin-top: 60px;
margin-bottom: 80px;
height: 367px;
}
.entry-text .about-text{
padding-left: 10px;
}

.about-text h3{
margin-top: 30px;
margin-bottom: 20px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
}
.flower-right-border img{
display: block;
position: absolute;
width: 231px;
height: 476px;
left: 70px;
top: 210px;
}
main{
width: 640px;
max-height: 1415px;
margin: 0px auto;
}
.wrapper{
width: 640px;
height: 1300px;
margin: 0px auto;
}


.gallery >:nth-child(2)
{
display: none;
}
.gallery >:nth-child(4)
{
    display: none;
}
.grid-wrapper{
    width: 640px;
}
.gallery{
    margin: 0px auto;
    width: 600px;
margin-bottom: 72px;
grid-template-columns: 1fr 1fr;
}
.gallery-blocks{
width: 285px;
height: 332px;
column-gap: 29px;
}
.gallery-blocks img{
max-width: 285px;
max-height: 285px;
}
.arrows{
top: -1180px;
width: 160px;
margin: 0px auto;
z-index: 1;
}
.choose-btn-div{
display: flex;
position: relative;
width: 600px;
top: -240px;
margin: 0 auto;;
text-align: center;
}
.bottom-flowers{
    max-width: 640px;
    margin: 0px auto;
top: -950px;
height: 63px;
}
.palm-left-border img{
height: 202px;
width: 386px;
left: -250px;
top: 39px;
}
.palm-right-border img{
width: 175px;
height: 131px;
left: 0px;
top: 112px;
}

.how-tofeed-section{
width: 640px;
height: 761px;
padding-top: 20px;
}
.how-to-feed{
width: 640px;
height: 741px;
}
.how-to-feed .head{
margin-top: 0px;
padding-top: 10px;
margin-bottom: 20px;
font-size: 42px;
  }
.how-to-feed h4{
margin-bottom: 20px;
height: 52px;
font-weight: 400;
font-size: 22px;
  }

.how-to-feed p{
   margin-bottom: 0px;
}
.how-to-feed h4,.how-to-feed h5,.how-to-feed p{
margin-left: 20px;
margin-right: 20px;
   max-width: 600px;
}
.how-to-feed h3{
margin-top: 35px;
margin-bottom: 0px;
 }

 .how-to-feed-cards{
max-width: 600px;
flex: 100%;
margin: 0 auto;
margin-right: 32px;
margin-left: 20px;
column-gap: 20px;
 }
 .how-to-feed-spans{
min-height: 46px;
 }
 .arrow{
display: none;
 }
 .arrow-640{
margin: 0 auto;
max-width: 300px;
display: flex;
position: relative;
justify-content: space-between;
left: -12px;
height: 17px;
 }
.how-to-feed-spans{
text-align: left;
max-width: 600px;
margin-bottom: 40px;
margin-top: 30px;
height:fit-content;
}
.how-to-feed-spans span{
width: 168px;
height:fit-content;
}


section{
width: 640px;
}
.testomonials{
height: 610px;
}
.testomonials h3{
margin-top: 60px;
margin-bottom: 30px;
}

.feedbacks {
flex-direction: column;
width: 640px;

}
.feedback-block p {
width: 553px;
margin-left: 0px;
margin-top: 20px;
font-size: 14px;
height: 39px;

}
.feedback-block{
   height: 85px;
width: 513px;
margin-bottom: 15px;
margin-left: 20px;
margin-right: 20px;
padding: 11px 29px 8px 18px;
cursor: pointer;
}

input[type="range"]{
    display: none;
}
.square-btn-after-scroll-block-div{
max-width: 640px;
margin: 0 auto;
}
.square-btn-after-scroll{
width: 240px;
margin-top: 30px;
top: -10px;
margin-bottom: 30px;
}
.testomonials h3{
    margin-top: 100px;;
}
.scroll-bar{
    width: 640px;
}

.invisible-part-scrollbar{
    width: 600px;
    height: 360px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
        grid-template-areas: "first";
}
.leaf-right-border {
top: -30px;
right: -60px;
}
.leaf-right-border img {
width: 149.88px;
height: 147.15px;
}
footer{
max-height: 282px;
width: 640px;
margin: 0px auto;
margin-top: 40px;
}
.footer-wrapper{
max-height: 270px;
max-width: 640px;
margin: 0px 20px;
padding-top: 12px;
}
footer .square-btn{
margin-top: 32px;
}
footer .sm-link, .subscribe-block{
   display: none;
}
footer .social-medias{
   display: none;
}
footer .nav-ul{
display: flex;
text-align: left;
margin-left: 0px;
top: 50px
}
#active-links-footer li{
margin-left: 0px;
margin-right: 37px;
}
.footer-designed-by{
display: flex;
position: relative;
float: right;
   left: 30px;
top: -20px;
margin-right: 31px;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 180%;
}
footer .social-medias-640{
display: flex;
position: relative;
top: -225px;
float: right;
right: -250px;
flex-direction: column;
width: 60px;
}
footer .social-medias-640 ul {
list-style: none;
}
footer .social-medias-640 ul li{
margin-bottom: 15px;
}
.feedback-block-popup-show{
    display: block;
    position: absolute;
    width: 320px;
    height: 428px;
    background-color: #F1F3F2;
cursor: pointer;
margin: 0px auto;
margin-left: 130px;
margin-top: 130px;
padding: 20px;
   z-index: 3;
    }
    .feedback-block-popup-content{
        display: block;
        padding: 20px;
        width: 267px;
        height: 391px;
        background-color: #F1F3F2;
        border-radius: 20px;
        border: 1px solid pink;
        margin: 0px auto;
        margin-top: 10px;
        cursor: pointer;
        }
        .feedback-block-popup-content p{   font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #767474;
}
.feedback-block-popup-content h4{
    display: inline;
    position: relative;
    top: -29px;
    left: 10px;
}

.feedback-block-popup-content span{
    display: block;
    position: relative;
    top: -29px;
    left: 55px;
}
.cross-popup-feedback{
    position: relative;
    float: right;
    padding: 5px;
    right: -10px;
    top: -10px;
}
.blured-fon-show {
    display: block;
    position: absolute;
    width: 640px;
    height: 640px;
    background-color: #434d485f;
cursor: pointer;
margin: 0px auto;
padding: 20px;
   z-index: 2;
}
}


@media screen and (max-width: 320px) {
html {
height: 100%;
}
body {
    width: 320px;
min-height: 100%;
}
header{
    margin: 0px auto;
    width: 320px;
z-index: 1;
height: 34px;
position: fixed;
}
.default-width{
width: 320px;
   margin: 0px auto;
   margin-left: 10px;

}
.logo{
border-color: #000000;
font-family: 'Roboto';
font-style: normal;
width: 46.86px;
height: 29.03px;
display: flex;
top: -18px;
left: 5px;
}
.logo h1{
font-weight: 400;
font-size: 12.2899px;
line-height: 120%;
margin-top: 3px;
}
.bamboo-icon{
height: 13px;
top: 20px;
left: 6px;
}
.burger{
    cursor: pointer;
max-width: 20px;
display: flex;
padding: 11px;
left: 280px;
position: fixed;
}


.burger-content-show{
    width: 320px;
    height: 329px;
    background: #FFFFFF;
    z-index: 2;
    }
.nav-ul, .designed-by {
display: none;
 }

.panda-img{
width: 320px;
height: 220px;
margin: 0 auto;

background-size: cover;
background-position: center center;
}
.circle{
position: absolute;
width: 119px;
height: 119px;
left: calc(50% - 119.09px/2 + 62.45px);
top: 57.17px;
z-index: 0;

}
.panda-text{
position: absolute;
width: 128.13px;
height: 102.44px;
left: calc(50% - 128.13px/2 + 85.67px);
top: 75px;
font-weight: 700;
font-size: 28px;
line-height: 75%;
}
.watch-btn{
position: relative;
width: 298px;
height: 54px;
margin: 0 auto;
top: 242px;
left: 10px;
}
.hat-man{
display: none;
}

.entry-text{
margin-top: 80px;
margin-bottom: 85px;
}
.entry-text .about-text{
padding-left: 0px;
max-width: 297px;
}
.entry-text .about-text p{
    margin-top: 10px;
    margin-bottom: 19px;
    line-height: 21.7px;
    }

.about-text h2{
margin-top: 25px;
margin-bottom: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
max-width: 297px;
}
.about-text h3{
margin-top: 10px;
margin-bottom: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
}
.flower-right-border img{
display: block;
position: absolute;
width: 105px;
height: 217px;
left: 170px;
top: 230px;
}
main{
width: 320px;
max-height: 1975px;
}
.wrapper{
width: 320px;
margin: 0 auto;
}
.grid-wrapper{
    width: 300px;
}

.gallery{
  grid-template-columns: 1fr;
  width: 280px;
  margin: 0 auto;
     margin-bottom: 0px;
}

.gallery-blocks{
width: 285px;
height: 332px;
margin-bottom: 18px;
}

.gallery-blocks img{
max-width: 285px;
max-height: 285px;
}
.blocks-heading{
    font-size: 13px;
    margin-top: 5px;
    line-height: 15px;
}
.img-info-block .icon img {
    width: 37.41px;
height: 29.62px;
padding-top: 3px;
}
.blocks-paragraph{
    font-size: 12px;
}
.arrows{
display: none;
}
.choose-btn-div{
display: flex;
position: relative;
top: -20px;
text-align: center;
width: 320px;
}
.bottom-flowers{
top: -260px;
height: 63px;
max-width: 340px;
}
.palm-left-border img{
width: 138px;
height: 72px;
left: -75px;
top: 227px;
}
.palm-right-border img{
    display: flex;
    position: relative;
width: 85px;
height: 71px;
top: 230px;
right: -10px;
}

.how-tofeed-section{
max-width: 320px;
height: 1064px;
padding-top: 20px;
margin-top: 360px;
}
.how-to-feed{
max-width: 300px;
height: 1042px;
}
.how-to-feed .head{
margin-top: 0px;
padding-top: 20px;
margin-bottom: 10px;
font-size: 24px;
  }
.how-to-feed h4{
margin-bottom: 20px;
height: 52px;
font-weight: 400;
font-size: 18px;
text-align: center;
margin-left: 10px;
margin-right: 10px;
  }

.how-to-feed p{
   margin-bottom: 0px;
}
.how-to-feed h5,.how-to-feed p{
   display: none;
}
.how-to-feed h3{
margin-top: 35px;
margin-bottom: 0px;
font-size: 24px;
 }

 .how-to-feed-cards{
display: flex;
flex-direction: column;
margin: 0 auto;
column-gap: 20px;
 }
 .arrow{
display: none;
 }
 .arrow-640{
display: flex;
left: 80px;
top: 205px;
min-width: 340px;
flex-direction: column;
 }
 .arrow-640-left,   .arrow-640-right{
    rotate: 85deg;
    margin-bottom: 216px;
     }

.how-to-feed-spans{
text-align: left;
max-width: 600px;
margin-bottom: 20px;
margin-top: 5px;
height: 46px;
}
.how-to-feed-spans span{
width: 168px;
 }

section{
width: 320px;
   }
.choose-favorite-btn{
margin-top: 23px;
}
.testomonials{
height: 550px;
}
.testomonials h3{
margin-top: 30px;
margin-bottom: 15px;
font-size: 24px;
}
.feedbacks > :last-child{
display: none;
}
.feedbacks {
flex-direction: column;
width: 320px;
   }
.feedback-block p {
width: 280px;
margin-left: 0px;
margin-top: 15px;
font-size: 15px;
line-height: 18px;
max-height: 38px;
overflow: hidden;
}
.feedback-block{
max-height: 109px;
width: 252px;
margin-bottom: 13px;
margin-left: 11px;
margin-right: 10px;
padding: 11px 29px 8px 18px;
}
.scroll-bar{
    width: 320px;
}
.invisible-part-scrollbar{
    width: 320px;
    grid-auto-flow: row;
    height: 360px;
}

.square-btn-after-scroll-block-div{
width: 320px;
margin: 0 auto;
}
.square-btn-after-scroll{
width: 240px;
margin: 0 auto;
margin-top: 25px;
left: 0px;
}

.leaf-right-border {
left: 35px;
top: 10px;

}
.leaf-right-border img {
width: 77.21px;
height: 75.81px;
rotate: -10deg;
}
footer{
max-height: 334px;
width: 320px;
margin: 0px auto;
}
.footer-wrapper{
max-height: 318px;
max-width: 302px;
margin: 0px 9px;
 }
footer .square-btn .footer-grid{
margin-top: 34px;
}
footer .logo-img{
display: none;
}
.logo-320 {
 display: block;
margin: 0 auto;
color: #FFFFFF;
width: 128px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 120%;
text-align: center;
}
.logo-320 p{
   margin-top: 7px;
   }


.footer-grid img{
position: absolute;
width: 13.03px;
height: 20px;
left: calc(50% - 7.03px/2 + 14.62px);
left: 168px;
top: 17px;

}
footer .sm-link, .subscribe-block{
   display: none;
}
footer .social-medias{
   display: none;
}
footer .nav-ul{
justify-content: space-between;
top: 65px;
font-weight: 400;
}
#active-links-footer li{
margin-left: 13px;
margin-right: 13px;
}
.footer-designed-by{
float: right;
left: 30px;
top: -57px;
margin-right: 31px;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 15px;
line-height: 200%;
}
footer .social-medias-640{
display: none;
}
footer .social-medias-320{
display: flex;
margin: 0px auto;
margin-top: 30px;
margin-bottom: 0px;
justify-content: space-between;
top: -425px;
width: 200px;

}
footer .square-btn{
margin-top: 25px;
}

.feedback-block-popup-show{
    display: block;
    position: absolute;
    width: 200px;
    height: 340px;
    background-color: #F1F3F2;
cursor: pointer;
margin: 0px auto;
margin-left: 40px;
margin-top:40px;
padding: 10px;
   z-index: 3;
    }
    .feedback-block-popup-content{
        display: block;
        padding: 7px;
        width: 190px;
        height: 310px;
        background-color: #F1F3F2;
        border-radius: 20px;
        border: 1px solid pink;
        margin: 0px auto;
        margin-top: 10px;
        cursor: pointer;
        }
        .feedback-block-popup-content p{   font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 11px;
line-height: 120%;
color: #767474;
margin-top: 10px;
position: relative;
top: -30px;
width: 180px;
}
.feedback-block-popup-content h4{
    display: block;
    position: relative;
    top: -60px;
    left: 50px;
    margin-bottom: 0px;
}

.feedback-block-popup-content span{
    width: 110px;
    display: block;
    position: relative;
    top: -49px;
    left: 55px;
    font-size: 12px;
}
.cross-popup-feedback{
    position: relative;
    float: right;
    padding: 5px;
    right: -10px;
    top: -10px;
}
.blured-fon-show {
    display: block;
    position: absolute;
    width: 640px;
    height: 640px;
    background-color: #434d485f;
cursor: pointer;
margin: 0px auto;
padding: 20px;
   z-index: 2;
}

}