body{
    min-width: 1600px;
    margin: 0px auto;
}
header {
    height: 80px;
    background-color: black;
    margin: 0px auto;
}
.logo{
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 19.0145px;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    width: 72.49px;
    height: 44.91px;
    left: 220px;
    margin: 13px;
    padding: 3.55px 4.75px;
}
.bamboo-icon{
    position: absolute;
    width: 11.03px;
    height: 23.98px;
    left: 11.23px;
    top: 22.64px;

}
.nav-ul {
    display: inline-flex;
    color: #FFF;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0px 0px 0px 365px;
}
.nav-ul li{
   margin: 29px 27px;
}
.nav-ul >li:last-child {
    margin-left: 438px
}
.active-nav{
    color: #FE9013;
}
.panda-img{
    min-width: 1600px;
    min-height: 780px;
    background-image: url("/assets/images/giant-panda.png");
background-repeat: no-repeat;
background-size: 100%;
background-position: center center;
}
.circle{
position: absolute;
width: 465px;
height: 465px;
left: calc(50% - 465px/2 + 239.5px);
top: 92px;
}
.panda-text{
    position: absolute;
width: 500.31px;
height: 400px;
left: calc(50% - 500.31px/2 + 330.15px);
top: 166px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.favorite-yellow-text{
    color: #FFEE2E
}
.watch-btn{
    position: absolute;
width: 298px;
height: 22px;
left: calc(50% - 298px/2 + 332px);
top: 626px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
padding: 16px 0px 16px 0px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
}
.hat-man img{
width: 609px;
height: 403px;
backdrop-filter: blur(2px);
}
.entry-text{
display: grid;
grid-template-columns: 1fr 1fr;
grid-auto-rows: minmax(100px, auto);
margin: 140px 220px 180px 220px;
text-align: center;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
color: #333B41;
}
.entry-text h2{

font-size: 48px;
line-height: 120%;
margin-bottom: 20px;
margin-top: 0px;
}
.entry-text p{
font-size: 16px;
line-height: 130%;}

.entry-text h3{
font-size: 24px;
line-height: 120%;
color: #333B41;
margin: 54px 0px 34px 0px;
}
.entry-text .about-text {
text-align: left;
padding-left: 100px;
}
.gallery{
display: flex;
justify-content: space-evenly;
position: relative;
left: 38px;
column-gap: 30px;
margin: 0px 220px;
font-family: 'Roboto';
font-style: normal;
color: #000000;
}
.gallery .gallery-blocks img{
width: 366px;
height: 366px;
}
.gallery-blocks{
    border: 1px solid #FE9013;
    border-radius: 5px;
    width: 366px;
    margin-bottom: 20px;
}
.blocks-heading{
    text-transform: uppercase;
    font-size: 16px;
line-height: 140%;
font-weight: 500;
margin: 8px 0px 0px 16px;
}
.blocks-paragraph{
    font-weight: 300;
    font-size: 15px;
    margin: 0px 0px 14px 16px;
}

.img-info-block{
    display: flex;
    justify-content: space-between;
}
.img-info-block .icon img{
    width: 48px;
height: 38px;
padding: 8px 8px 14px 0px;
}
.img-info-block .icon-banana img{
    width: 33px;
height: 37px;
    padding: 8px 8px 14px 0px;
}
.flower-left-border{
width: 293px;
height: 605px;
display: flex;
position: relative;
float: right;
top: -700px;
right: -100px
}

.bottom-flowers{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 234px;
}
.palm-right-border img{
    display: flex;
    position: relative;
    float: right;
    width: 368px;
    height: 275px;
    top: -114px;
    left: -30px;

}
.palm-left-border img{
    display: flex;
    position: relative;
    float: left;
    width: 880px;
    height: 460px;
    right: -368px;
    left: -588px;
top: -297px;
}
.arrows{
    display: flex;
    justify-content: space-between;
    margin: 0px 180px;
    position: relative;
    top: -500px
}
    .arrows img{
    width: 62px;
    height: 62px;
    }
.how-tofeed-section {
    position: relative;
    top: -72px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    display: block;
    padding: 69px 220px;
}
.how-to-feed{
    text-align: center;
}
.choose-favorite-btn{
    width: 298px;
height: 38px;
background: #FE9013;
border-radius: 25px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0px 0px 0px;
    position: relative;
left: -253px
    }
    .choose-favorite-btn a{
       text-decoration: none;
    color: #FFFFFF;
    }