body{
    min-width: 1600px;
    margin: 0px auto;
}
header {
    height: 80px;
    background-color: black;
    margin: 0px auto;
}
.logo{
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    width: 72.49px;
    height: 44.91px;
    left: 220px;
    margin: 13px;
    padding: 3.55px 4.75px;
}
.logo h1{
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}
.bamboo-icon{
    position: absolute;
    width: 11.03px;
    height: 23.98px;
    left: 11.23px;
    top: 22.64px;

}
.nav-ul {
    display: inline-flex;
    color: #FFF;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0px 0px 0px 365px;
    height: 22px;
}
.nav-ul li{
   margin: 29px 27px;
}
.nav-ul >li:last-child {
    margin-left: 438px
}
.active-nav{
    color: #FE9013;
}
.nav-ul li a{
    text-decoration: none;
    color: #FFF;
 }
 .nav-ul li a:hover{
    text-decoration: none;
    color: #FE9013;
 }

.panda-img{
    min-width: 1600px;
    min-height: 780px;
    background-image: url("/assets/images/giant-panda.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.circle{
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
}
.panda-text{
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.favorite-yellow-text{
    color: #FFEE2E
}
.watch-btn{
    position: absolute;
    width: 298px;
    height: 22px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    padding: 16px 0px 16px 0px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.hat-man img{
	width: 609px;
	height: 403px;
	backdrop-filter: blur(2px);
}
.entry-text{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: minmax(100px, auto);
	margin: 140px 220px 180px 220px;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: #333B41;
}
.entry-text h2{
	font-size: 48px;
	line-height: 120%;
	margin-bottom: 20px;
	margin-top: 0px;
}
.entry-text p{
	font-size: 16px;
	line-height: 130%;}

.entry-text h3{
	font-size: 24px;
	line-height: 120%;
	color: #333B41;
	margin: 54px 0px 34px 0px;
}
.entry-text .about-text {
	text-align: left;
	padding-left: 100px;
}
.gallery{
	display: flex;
	justify-content: space-evenly;
	position: relative;
	left: 38px;
	column-gap: 30px;
	margin: 0px 220px;
	font-family: 'Roboto';
	font-style: normal;
	color: #000000;
}
.gallery .gallery-blocks img{
	width: 366px;
	height: 366px;
}
.gallery-blocks{
    border: 1px solid #FE9013;
    border-radius: 5px;
    width: 366px;
    margin-bottom: 20px;
}
.blocks-heading{
    text-transform: uppercase;
    font-size: 16px;
    line-height: 140%;
    font-weight: 500;
    margin: 8px 0px 0px 16px;
}
.blocks-paragraph{
    font-weight: 300;
    font-size: 15px;
    margin: 0px 0px 14px 16px;
}
.img-info-block{
    display: flex;
    justify-content: space-between;
}
.img-info-block .icon img{
    width: 48px;
    height: 38px;
    padding: 8px 8px 14px 0px;
}
.img-info-block .icon-banana img{
    width: 33px;
    height: 37px;
    padding: 8px 8px 14px 0px;
}
.flower-right-border{
  width: 293px;
  height: 605px;
  display: flex;
  position: relative;
  float: right;
  top: -700px;
  right: -100px
}

.bottom-flowers{
  display: flex;
  position: relative;
  justify-content: space-between;
  height: 160px;
}
.palm-right-border img{
    display: flex;
    position: relative;
    float: right;
    width: 368px;
    height: 275px;
    top: -114px;
    left: -30px;
}
.palm-left-border img{
    display: flex;
    position: relative;
    float: left;
    width: 880px;
    height: 460px;
    right: -368px;
    left: -588px;
    top: -297px;
}
.arrows{
  display: flex;
  justify-content: space-between;
  margin: 0px 140px;
  position: relative;
  top: -500px
}
    .arrows img{
    width: 62px;
    height: 62px;
    }

.choose-favorite-btn{
    width: 298px;
    height: 38px;
    background: #FE9013;
    border-radius: 25px;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0px 0px 0px;
    position: relative;
    left: -253px
    }
    .choose-favorite-btn a{
    text-decoration: none;
    color: #FFFFFF;
    }
.how-tofeed-section {
position: relative;
background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
padding: 69px;
  }
   .how-to-feed{
    text-align: center;
    width: 1160px;
    background: rgba(253, 253, 255, 0.52);
    height: 835px;
    border-radius: 20px;
    margin: 0px 220px 0px 220px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 120%;
    }
    .how-to-feed h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #FE9013;
    padding: 41px 0px 0px 0px;
    }
    .how-to-feed h4{
        margin: 0px 0px 40px 99px;
        text-align: left;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        }
.how-to-feed h5{
    text-align: left;
    margin: 0px 0px 0px 99px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
}
   .how-to-feed p{
    margin: 10px 198px 0px 99px;
    text-align: left;
    font-size: 16px;
    color: #333B41;
}
.orange-underline{
    text-decoration: underline;
    text-decoration-color: #FE9013;
}
.how-to-feed h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #333B41;
    margin-top: 60px;
}
.how-to-feed-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}
.how-to-feed-cards-div{
width:168px;
}
.how-to-feed-cards span{
	  align-items: center;
    display: flex;
    text-align: left;
    height:80px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
}
.feed-friend-btn{
    margin: auto;
    margin-top: 60px;
    margin-bottom: 59px;
    width: 298px;
    background: #FE9013;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding: 16px 0px 16px 0px;
}
.feed-friend-btn a{
text-decoration: none;
color: #FFFFFF;
line-height: 22px;
vertical-align:middle;
}
.testomonials h3{
text-align: center;
margin: 140px 0px 47px 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #333B41;
}
.feedbacks{
display: flex;
justify-content: center;
column-gap: 30px;
margin-left: 220px;
margin-right: 220px;
}

.feedback-block{
background: #F1F3F2;
width: 268px;
min-height: 391px;
position: relative;
padding: 15px 15px 19px 16px;
margin: 5px;
margin-bottom: 21px;
border-radius: 20px;
}
.feedback-block::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background-image: linear-gradient(300deg,
    rgba(254, 189, 171, 0.74),
    rgba(243, 169, 248, 0.66),
    rgba(224, 216, 240, 1));
  }
.feedback-block h4{
    display: inline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    width: 97px;
    height: 19px;
    position: relative;
    top: -20px;
    margin-left: 10px;
    }
.feedback-block img{
    width: 37px;
    height: 37px;
}
.feedback-block p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #767474;
    word-spacing: 4px;
    line-height: 120%;
    margin: 0px auto;
    margin-top: 15px;
    position: relative;
    top: -20px;
		width: 237px;
    height: 309px;
}
.feedback-block span{
display: block;
position: relative;
font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
position: relative;
top: -20px;
left: 37px;
margin-left: 10px;
}
.scroll-bar{
	margin:auto;
	overflow-x: scroll;
	scrollbar-width: thin;
	margin-bottom: 53px;
	width: 40%;
	display: flex;
 position: relative;
 justify-content: center;
}

.scroll-bar::-webkit-scrollbar {
	height:8px;
	overflow: scroll;
	border: 1px solid rgba(247, 209, 198, 0.74);
	border-radius: 5px;
}
.scroll-bar::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #F1F3F2;
	background: #F5F7F6;
	border: 1px solid rgba(247, 209, 198, 0.74);
	border-radius: 8px;
}

.scroll-bar::-webkit-scrollbar-thumb {
	width: 7px;
	background-color: #FE9013;
	border-radius: 5px;
}
.invisible-part-scrollbar{
	color:#FFF;
    height: 0px;
}

.leave-feedback-btn{
display: flex;
position: relative;
justify-content: center;
left: 220px;
width: 298px;
background: #FE9013;
border-radius: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
padding: 16px 0px 16px 0px;
}
.leave-feedback-btn a{
text-align: center;
text-decoration: none;
color: #FFFFFF;
line-height: 22px;
align-items: center;
}
.leaf-right-border {
	display: flex;
	position: relative;
    justify-content: end;
	top: -40px;
    height: 170px;
}
.leaf-right-border img{
    height: 295.45px;
    transform: rotate(35deg);
}
footer{
	position: relative;
	min-width: 1600px;
	background: #111115;
	height: 402px;
    padding: 41px 220px 0px 220px;
}
.footer-grid img{
    width: 82px;
    height: 52px;
}
footer .subscribe-block{
    height: 25px;
}
.footer-grid h2{
    position: relative;
    top:-70px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
margin-left: 1013px;
}
.footer-grid .text-input{
width: 228px;
height: 42px;
border: 1px solid #874E1C;
border-radius: 4px;
background-color: transparent;

}
.footer-grid .submit-input{
width: 129px;
height: 43px;
color: #000000;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 4px;
}
.footer-grid form{
position: relative;
top:-70px;
margin-left: 1013px;
}
footer .donate-footer-btn{
margin: 25px 0px 40px 0px;
width: 298px;
height: 22px;
background: #FE9013;
border-radius: 8px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-transform: uppercase;
padding: 16px 0px 16px 0px;
text-align: center;
}
footer .donate-footer-btn a{
    text-decoration: none;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 22px;
    align-items: center;
    }
footer .social-medias{
    list-style: none;
    padding-left: 0px;
}
footer .social-medias-li{
    height: 26px;

}
footer .sm-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
margin: 0px 0px 10px 10px;
position: relative;
left: 5px;
top: -5px;
}
footer .nav-ul {
    position: relative;
    top: -65px;
}
footer .nav-ul .footer-designed-by {
    margin-left: 230px;
    width: 240px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    display: flex;
    position: relative;
    justify-content: end;
    top: -18px;
}
.social-medias-li {
    height: 26px;
    margin: 5px 0px 5px 0px;
}