html {
 height: 100%;
}
body {
 min-height: 100%;
}

body{
min-width: 1600px;
margin: 0px auto;
accent-color: #FE9013;
 }
a{
color: white;
text-decoration: none;
}

header {
height: 80px;
background-color: black;
margin: 0px auto;
position: relative;
min-width: 1600px;
}
.default-width{
width: 1160px;
margin: 0px auto;
}
.logo{
color: #FFFFFF;
border: 1.18841px solid #FFFFFF;
border-radius: 2px;
text-align: center;
position: absolute;
width: 72.49px;
height: 44.91px;
margin: 13px 0px;
padding: 3.55px 4.75px;
}
.logo h1{
margin: 0px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19.0145px;
line-height: 120%;
}
.bamboo-icon{
position: absolute;
width: 11.03px;
height: 23.98px;
left: 11.23px;
top: 22.64px;

}
.nav-ul {
display: flex;
width: 100%;
color: #FFF;
list-style: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
margin: 0px 0px 0px 75px;
height: 22px;
}

.nav-ul li{
margin: 29px 29px;
}
.designed-by {
  float:right;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  align-items: center;
  margin-top: 7px;
}
.nav-ul li a{
text-decoration: none;
color: white;
 }
 .nav-ul li a:hover{
text-decoration: none;
color: #FE9013;
 }
 .nav-ul li  .active{
color: #FE9013;
}
.nav-ul li::after{
color: #FE9013;
}
.panda-img{
margin: 0px auto;
max-width: 1600px;
height: 390px;
background-image: url("../../assets/images/giant-panda.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
}
.how-tofeed-section {
position: relative;
background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
height: 1442px;
padding-top: 40px;
  }
.heading-text{
max-width: 1160px;
margin: 0px auto;
margin-bottom: 60px;
	text-align: left;
	color: #FFFFFF;
}
.heading-text h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
margin-top: 0px;
margin-bottom: 10px;
}
.heading-text p{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
margin-top: 0px;
}
.heading-text h2{
font-family: 'Roboto';
margin-top: 40px;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #FE9013;
}

.how-to-feed h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
text-align: center;
color: #FE9013;
margin-bottom: 20px;
margin-top: 0px;

}
.how-to-feed p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
text-align: left;
margin-bottom: 0px;
color: #333B41;}

.how-to-feed{
text-align: center;
width: 976px;
background: rgba(253, 253, 255, 0.52);
/* height: 964px; */
border-radius: 20px;
margin: 0px auto;
padding: 40px 92px 62px 92px;
margin-bottom: 180px;
}

.panda{
display: grid;
width: 568px;
grid-template-columns: 30% 10% 60%;
margin: 0px auto;
	margin-top: 60px;
margin-bottom: 48px;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: #333B41;
}

.panda-block h2{
margin-top: 100px;
margin-bottom: 10px;
}
.panda h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 80%;
text-transform: uppercase;
color: #000000;
}
.panda p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
text-align: center;
color: #333B41;
}
.panda-block .x{
display: flex;
position: relative;
top: 120px;
}
legend{
text-align: left;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
margin-bottom: 10px;
color: #000000;

}
.range{
width: 100%;
height: 27px;
background: #404950;
border-radius: 4px;
margin:0px auto;
margin-right: 0px;

}

.slider {
width: 94%;
border-radius: 5px;
background: #72828E;
cursor: pointer;
}

#donate-amount{
margin: 0px auto;
margin-top: 8px;
margin-bottom: 50px;
}

.dots{
width: 108%;
padding-right: 10px;
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align: left;
margin: 0px auto;
margin-top: -20px;
padding-left: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 140%;
text-transform: uppercase;
color: #333B41;
}

 .dot:hover{
 cursor: pointer;
 color:#f9804b
}
.dot:hover img{
transform: scale(1);
background-color: transparent;
border: 2px solid #F9804B;
outline: 2px solid rgb(253, 123, 2);
outline-offset: 7px;
border-radius: 50%;
position: relative;
left: -2px;
}
.dot:hover .item{
position: relative;
top: -2px;
}
.dot .item{
display: flex;
position: relative;
left: -20px;
margin-top: 6px;
}
input[type=range]{
-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
width: 100%;
height: 2px;
border: none;
border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
display: none;
}


.square-btn-after-scroll{
display: block;
margin-top: 20px;
width: 298px;
height: 54px;
background: #FE9013;
border-radius: 8px;
border: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
text-transform: uppercase;
color: #FFF;
}

.pay-input{
background: url(../../assets/icons/donate-dollar.png) no-repeat scroll 10px 20px;
background-position-x: 270px;
height: 54px;
width: 268px;
background-color: transparent;
border: 1px solid #929699;
border-radius: 2px;
margin: 0px auto;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #929699;
padding-left: 9px;
padding-right: 9px;
margin-top: 92px;
margin-bottom: 25px;
}
.pay-input::-webkit-outer-spin-button,
.pay-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.radio-block{
margin-bottom: 31px;

}
.period-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}
.radio-point {
appearance: none;
border: 1px solid #F9804B;
border-radius: 50%;
background: transparent;
height: 16px;
width: 16px;
cursor: pointer;
  }
  .radio-point:checked {
background: #4B9200;
border: 1px solid #4B9200;
}
  #radio-point-left{
margin-right: 20px;
  }
  #once{
margin-left: 20px;
  }

  .choose-favorite-btn{
display: block;
margin:0px auto;
margin-top: 0px;
width: 298px;
height: 54px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;
border: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
text-transform: uppercase;
color: white;
}
.choose-favorite-btn:hover{
background: #faecdb;
cursor: pointer;
border: 1px solid #f9804b;
color: #FE9013;
}
.how-to-feed .last-p{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
text-align: center;
margin-top: 30px;
}
footer{
	position: relative;
	min-width: 1600px;
	background: #111115;
	height: 443px;
margin: 0px auto;
}
.square-btn{
display: block;
margin-top: 30px;
margin-left: 220px;
width: 298px;
height: 54px;
background: #FE9013;
border-radius: 8px;
border: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
text-align: center;
text-transform: uppercase;
color: #FFF;
}
.square-btn:hover{
color: #f9804b;
background: #faecdb;
cursor: pointer;
border: 1px solid #f9804b;
}
.footer-wrapper{
margin: 0px auto;
max-width: 1160px;
padding-top: 42px;
height: 402px;
}
.footer-grid img{
width: 82px;
height: 52px;
}
footer .subscribe-block{
height: 25px;
}
.footer-grid h2{
position: relative;
top:-75px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
margin-left: 792px;
}
.footer-grid .text-input{
width: 210px;
height: 40px;
border: 1px solid #874E1C;
border-radius: 4px;
background-color: transparent;
color: #FFF;
padding-left: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-right: 5px;
}
.footer-grid .submit-input{
width: 129px;
height: 43px;
color: #000000;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #4B9200;

}
.footer-grid .submit-input:hover{
background-color: #FBC5AC;
color:#000000;
cursor: pointer;
}
.footer-grid form{
position: relative;
top:-83px;
margin-left: 792px;
}
footer .square-btn{
margin: 22px 0px 45px 0px;
}

footer .social-medias{
list-style: none;
padding-left: 0px;
}
footer .social-medias-li{
height: 30px;
}
footer .sm-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
margin: 0px 0px 10px 10px;
position: relative;
left: 3px;
top: -6px;
}
footer .social-medias-li img{
position: relative;
top: 6px;
margin-right: 10px;
}
footer .sm-link:hover{
color: rgba(75, 146, 0, 1);
}
footer .nav-ul {
position: relative;
top: -68px;
margin-left: 370px;
padding-left: 0px;
}
footer .footer-designed-by{
 display: flex;
 position: relative;
 float: right;
left: 30px;
 top: -111px;
 margin-right: 31px;
 color: white;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 100;
 font-size: 16px;
 line-height: 200%;
 }
footer .nav-ul li{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}
footer .nav-ul .last-li{
width: 78px;
}
.social-medias-li {
height: 26px;
margin: 5px 0px 5px 0px;
}
.burger{
display: none;
}
.sm-640{
display: none;
}
.logo-320 {
 display: none;
}
.social-medias-320{
 display: none;
}

@media screen and (max-width: 1000px) {
 html {
  height: 100%;
}
body {
  min-height: 100%;
}
.default-width{
max-width: 940px;
margin-left: 30px;
}
.logo{
margin-right: 39px;
}

.nav-ul li{
margin: 29px 24px;
 }
 .panda-img{
background-image: url("../../assets/images/giant-panda.png");
max-height: 390px;
margin: 0px auto;
position: relative;
left: -172px;
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
}
 section{
max-width: 1000px;
 }
.heading-text{
max-width: 939px;
margin: 0 auto;
}
.how-tofeed-section{
height: 1293px;
}
.how-to-feed{
margin-bottom: 30px;
max-width: 851px;
padding: 30px 44px 45px 47px;
}
.heading-text h3{
width: 778px;
margin-bottom: 30px;
}
.heading-text p{
 line-height:22.4px;
 margin-top: 0px;
}
.heading-text h2{
margin-bottom: 40px;
}
.how-to-feed p{
margin-top: 0px;
}
.how-to-feed h2{
margin-bottom: 10px;
}
.panda-block{
align-items:center;
}
.range{
width: 810px;
padding: 0px;
margin: 0px auto;
}
.panda{
margin-bottom: 40px;
}
legend{
margin-bottom: 15px;
margin-left: 15px;
}
.pay-input{
width: 250px;
margin-top: 95px;
}
#once{
margin-left: 5px;
}
.footer-wrapper{
max-width: 940px;
margin-left: 30px;
}
footer .sm-link{
margin-left: 0px;
}
.footer-grid form{
margin-left: 541px;
}
.footer-grid h2{
margin-left: 541px;
}
footer .nav-ul{
 margin-left: 291px;
 text-align: left;
}
#active-links-footer li{
 margin-left: 0px;
 margin-right: 48px;
}
.footer-designed-by{
 display: flex;
 position: relative;
 float: right;
left: 30px;
 top: -110px;
 margin-right: 31px;
 color: white;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 100;
 font-size: 16px;
 line-height: 180%;
}
.panda-block .x{
display: flex;
}
}

@media screen and (max-width: 640px) {

html {
height: 100%;
}
body {
min-height: 100%;
}
header{
z-index: 1;
height: 34px;
max-width: 640px;
position: fixed;
}

.default-width{
max-width: 640px;
margin: 0px auto;
margin-left: 15px;
}
.logo{
border-color: #000000;
font-family: 'Roboto';
font-style: normal;
width: 46.86px;
height: 29.03px;
display: flex;
top: -20px;
}
.logo h1{
font-weight: 400;
font-size: 12.2899px;
line-height: 120%;
margin-top: 3px;
}
.bamboo-icon{
height: 13px;
top: 20px;
left: 6px;
}
.burger{
cursor: pointer;
max-width: 605px;
display: block;
display: flex;
justify-content: end;
padding-top: 11px;

}

.nav-ul {
display: none;
 }
 .designed-by {
display: none;
 }


.panda-img{
background-image: url("../../assets/images/giant-panda.png");
max-height: 335px;
margin: 0px auto;
position: relative;
left: -372px;
background-repeat: no-repeat;
}

 section{
max-width: 640px;
 }
.heading-text{
max-width: 600px;
margin: 0 auto;
}
.how-tofeed-section{
height: 1300px;
padding-top: 30px;
}
.how-to-feed{
margin-bottom: 30px;
max-width: 600px;
padding: 30px 0px;
}
.heading-text h3{
width: 600px;
margin-bottom: 20px;
font-weight: 400;
font-size: 24px;
line-height: 120%;
}
.heading-text p{
 line-height:22.4px;
 margin-top: 0px;

}
.heading-text h2{
margin-bottom: 30px;
margin-top: 30px;
}
.how-to-feed p{
margin-top: 0px;
text-align: center;
}
.how-to-feed h2{
margin-bottom: 20px;
}
.panda-block{
align-items:center;
}
.range{
width: 600px;
padding: 0px;
margin: 0px auto;
}
.slider{
width: 524px;
}
.dots > div:nth-child(1) {
display: none;
}
.dots > div:nth-child(2) {
display: none;
}
.dots > div:nth-child(3) {
display: none;
}
.panda{
margin-top: 45px;
margin-bottom: 40px;
}
legend{
margin-bottom: 7px;
margin-left: 10px;
}
.dots{
width: 1070px;
padding-left: 20px;
}

.pay-input{
width: 176px;
height: 40px;
margin-top: 95px;
}
#once{
margin-left: 5px;
}
footer{
max-height: 282px;
}
.footer-wrapper{
max-height: 270px;
max-width: 640px;
margin: 0px 20px;
padding-top: 12px;
}
footer .square-btn{
margin-top: 32px;
}
footer .sm-link, .subscribe-block{
display: none;
}
footer .social-medias{
display: none;
}
footer .nav-ul{
display: flex;
text-align: left;
margin-left: 0px;
top: 25px;
}
#active-links-footer li{
margin-left: 0px;
margin-right: 37px;
}
footer .footer-designed-by{
display: flex;
position: relative;
float: right;
left:-15px;
top: -18px;
margin-right: 31px;
color: white;
font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 16px;
line-height: 180%;
}
footer .sm-640{
display: flex;
position: relative;
top: -25px;
width: 60px;
left: 550px;
top: -280px;
}
footer .sm-640 ul {
list-style: none;
}
footer .sm-640 ul li{
margin-bottom: 15px;
}
}

@media screen and (max-width: 320px) {
 html {
  height: 100%;
}
body {
  min-height: 100%;
}
header{
max-width: 320px;
position: fixed;
}
.default-width{
max-width: 310px;
margin-left: 5px;
}
.logo{
top: -18px;
}
.burger{
padding-right: 5px;
}
main{
max-width: 320px;
}
.panda-img{
 background: url("../../assets/images/panda_bg-320.png");
 max-height: 187px;
 left: 0px;
 max-width: 766px;
}
section{
max-width: 320px;
}
.heading-text{
max-width: 300px;
}
.how-tofeed-section{
height: 1115px;
padding-top: 30px;
}
.how-to-feed{
margin-bottom: 30px;
max-width: 300px;
padding: 20px 0px;
}
.heading-text h3{
width: 300px;
margin-bottom: 20px;
font-weight: 400;
font-size: 24px;
line-height: 120%;
}
.heading-text p{
font-weight: 400;
line-height: 22px;
}
.heading-text h2{
 margin-bottom: 30px;
 margin-top: 29px;
 font-weight: 400;
 font-size: 24px;
}
.how-to-feed p{
 margin-top: 0px;
text-align: center;
font-weight: 400;
font-size: 16px;
}
.how-to-feed h2{
margin-bottom: 10px;
font-weight: 400;
font-size: 24px;
}
.panda-block{
 display:flex;
 position: relative;
flex-direction: column;
align-items:center;
min-width: 50px;
left: -10px;
}
.panda{
 display: flex;
 position: relative;
 align-items: center;
 justify-content: center;
 margin-top: 20px;
 max-width: 320px;
 margin-bottom: 0px;
}
.panda-block h2{
 font-size: 40.6015px;
 margin-top: 20px;
}
.panda-block p{
font-size: 9px;
}
.panda-block img{
 width: 160.15px;
height: 138.72px;
}
.x img{
  width: 8px;
 height: 8px;
}
.x {
 display: flex;
 position: relative;
top: -115px;
left: -15px;
}

.range{
max-width: 300px;
padding: 0px;
margin: 0px auto;
height: 13px;
border-radius: 0px;
top: -20px;
}
.slider{
 display: flex;
 position: relative;
max-width: 260px;
top: 5px;
margin: 0 auto;
}
.dots > div:nth-child(1) {
display: none;
}
.dots > div:nth-child(2) {
display: none;
}
.dots > div:nth-child(3) {
display: none;
}

legend{
margin-bottom: 7px;
margin-left: 0px;
}
.dots{
 display: flex;
 position: relative;
 top: -16px;
width: 282px;
height: 10px;
justify-content: space-between;
padding-left: 0px;
padding-right: 0px;
margin: 0 auto;
}
.dot img{
 width: 15px;
}
.item{
padding-left: 18px;
margin-right: 20px;
 font-size: 13px;
 top: -15px;
}
.pay-input{
width: 176px;
height: 40px;
margin-top: 50px;
}
#once{
margin-left: 5px;
}
footer{
 max-height: 334px;
}
 .footer-wrapper{
 max-height: 318px;
 max-width: 302px;
 margin: 0px 9px;
  }
 footer .square-btn .footer-grid{
 margin-top: 34px;
 }
 footer .logo-img{
 display: none;
 }
 .logo-320 {
  display: block;
 margin: 0 auto;
 color: #FFFFFF;
 width: 128px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 120%;
text-align: center;
 }
 .logo-320 p{
margin-top: 7px;
}


 .footer-grid img{
 position: absolute;
 width: 13.03px;
 height: 20px;
 left: calc(50% - 7.03px/2 + 14.62px);
 left: 168px;
 top: 17px;

 }
 footer .sm-link, .subscribe-block{
display: none;
 }
footer .social-medias{
display: none;
}
 footer .nav-ul{
justify-content: space-between;
 top: 40px;
 font-weight: 400;
 font-weight: 400;
font-size: 16px;
 }
 #active-links-footer li{
 margin-left: 13px;
 margin-right: 13px;
 }
 footer .footer-designed-by{
 float: right;
left: 30px;
 top: -57px;
 margin-right: 31px;
 color: white;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 100;
 font-size: 15px;
 line-height: 200%;
 }
 footer .social-medias-640{
 display: none;
 }
 footer .social-medias-320{
 display: flex;
 margin: 0px auto;
 margin-top: 30px;
 margin-bottom: 0px;
 justify-content: space-between;
 top: -425px;
 width: 200px;

 }
 footer .square-btn{
 margin-top: 25px;
 }
}