body{
    min-width: 1600px;
    margin: 0px auto;
    accent-color: #FE9013;
 }
a{
    color: white;
    text-decoration: none;
}

header {
    height: 80px;
    background-color: black;
    margin: 0px auto;
    position: relative;
    min-width: 1600px;
}
.default-width{
    width: 1160px;
    margin: 0px auto;
}
.logo{
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
    border-radius: 2px;
    text-align: center;
    position: absolute;
    width: 72.49px;
    height: 44.91px;
    left: 220px;
    margin: 13px 0px;
    padding: 3.55px 4.75px;
}
.logo h1{
    margin: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
}
.bamboo-icon{
    position: absolute;
    width: 11.03px;
    height: 23.98px;
    left: 11.23px;
    top: 22.64px;

}
.nav-ul {
    display: inline-flex;
    color: #FFF;
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    margin: 0px 0px 0px 75px;
    height: 22px;
}

.nav-ul li{
   margin: 29px 29px;
}
.nav-ul >li:last-child {
    margin-left: 380px;
}
.nav-ul li a{
    text-decoration: none;
    color: white;
 }
 .nav-ul li a:hover{
    text-decoration: none;
    color: #FE9013;
 }
 .nav-ul li  .active{
    color: #FE9013;
}
.nav-ul li::after{
    color: #FE9013;
}
.panda-img{
    min-width: 1600px;
    height: 390px;
    background-image: url("../../assets/images/giant-panda.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}
.how-tofeed-section {
    position: relative;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    height: 1442px;
    padding-top: 40px;
      }
.heading-text{
    max-width: 1160px;
    margin: 0px auto;
    margin-bottom: 60px;
	text-align: left;
	color: #FFFFFF;
}
.heading-text h3{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 130%;
margin-top: 0px;
margin-bottom: 10px;
}
.heading-text p{
	font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
margin-top: 0px;
}
.heading-text h2{
    font-family: 'Roboto';
    margin-top: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #FE9013;
}

.how-to-feed h2{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 120%;
text-align: center;
color: #FE9013;
margin-bottom: 20px;
margin-top: 0px;

}
.how-to-feed p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
   text-align: left;
   margin-bottom: 0px;
    color: #333B41;}

.how-to-feed{
    text-align: center;
    width: 976px;
    background: rgba(253, 253, 255, 0.52);
    /* height: 964px; */
    border-radius: 20px;
    margin: 0px auto;
    padding: 40px 92px 62px 92px;
    margin-bottom: 180px;
    }

    .panda{
    display: grid;
    width: 568px;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 0px auto;
	margin-top: 60px;
    margin-bottom: 48px;
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	color: #333B41;
    }

    .panda-block h2{
    margin-top: 100px;
    margin-bottom: 10px;
    }
.panda h2{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 72px;
line-height: 80%;
text-transform: uppercase;
color: #000000;
}
.panda p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #333B41;
}
.panda-block .x{
    display: flex;
    position: relative;
    top: 120px;
}
legend{
text-align: left;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
margin-bottom: 10px;
color: #000000;

}
.range{
width: 100%;
height: 27px;
background: #404950;
border-radius: 4px;
margin:0px auto;
margin-right: 0px;

}

.slider {
    width: 94%;
    border-radius: 5px;
    background: #72828E;
    cursor: pointer;
}

#donate-amount{
margin: 0px auto;
margin-top: 8px;
margin-bottom: 50px;
}

.dots{
width: 108%;
padding-right: 10px;
display: grid;
grid-template-columns: repeat(8, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
text-align: left;
margin: 0px auto;
margin-top: -20px;
padding-left: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 140%;
text-transform: uppercase;
color: #333B41;
}

 .dot:hover{
 cursor: pointer;
 color:#f9804b
}
        .dot:hover img{
            transform: scale(1);
            background-color: transparent;
            border: 2px solid #F9804B;
            outline: 2px solid rgb(253, 123, 2);
            outline-offset: 7px;
            border-radius: 50%;
            position: relative;
            left: -2px;
            }
            .dot:hover .item{
            position: relative;
            top: -2px;
            }
.dot .item{
    display: flex;
    position: relative;
    left: -20px;
    margin-top: 6px;
}
input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    display: none;
}


.square-btn-after-scroll{
    display: block;
    margin-top: 20px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    }

    .pay-input{
    background: url(../../assets/icons/donate-dollar.png) no-repeat scroll 10px 20px;
    background-position-x: 270px;
    height: 54px;
    width: 268px;
    background-color: transparent;
    border: 1px solid #929699;
    border-radius: 2px;
    margin: 0px auto;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #929699;
padding-left: 9px;
padding-right: 9px;
margin-top: 92px;
margin-bottom: 25px;
}
.pay-input::-webkit-outer-spin-button,
.pay-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.radio-block{
margin-bottom: 31px;

}
.period-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
}
.radio-point {
    appearance: none;
    border: 1px solid #F9804B;
    border-radius: 50%;
    background: transparent;
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  .radio-point:checked {
    background: #4B9200;
    border: 1px solid #4B9200;
}
  #radio-point-left{
    margin-right: 20px;
  }
  #once{
    margin-left: 20px;
  }

  .choose-favorite-btn{
    display: block;
    margin:0px auto;
    margin-top: 0px;
    width: 298px;
    height: 54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    }
    .choose-favorite-btn:hover{
        background: #faecdb;
        cursor: pointer;
        border: 1px solid #f9804b;
        color: #FE9013;
    }
.how-to-feed .last-p{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;
text-align: center;
margin-top: 30px;
}
footer{
	position: relative;
	min-width: 1600px;
	background: #111115;
	height: 443px;
    margin: 0px auto;
}
.square-btn{
    display: block;
    margin-top: 30px;
    margin-left: 220px;
    width: 298px;
    height: 54px;
    background: #FE9013;
    border-radius: 8px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    }
    .square-btn:hover{
        color: #f9804b;
        background: #faecdb;
        cursor: pointer;
        border: 1px solid #f9804b;
    }
.footer-wrapper{
    margin: 0px auto;
    max-width: 1160px;
padding-top: 42px;
height: 402px;
}
.footer-grid img{
    width: 82px;
    height: 52px;
}
footer .subscribe-block{
    height: 25px;
}
.footer-grid h2{
    position: relative;
    top:-75px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #FFFFFF;
margin-left: 792px;
}
.footer-grid .text-input{
width: 210px;
height: 40px;
border: 1px solid #874E1C;
border-radius: 4px;
background-color: transparent;
color: #FFF;
padding-left: 15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
margin-right: 5px;
}
.footer-grid .submit-input{
width: 129px;
height: 43px;
color: #000000;
background-color: #FFFFFF;
border: 1px solid #FFFFFF;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #4B9200;

}
.footer-grid .submit-input:hover{
    background-color: #FBC5AC;
    color:#000000;
    cursor: pointer;
}
.footer-grid form{
position: relative;
top:-83px;
margin-left: 792px;
}
footer .square-btn{
margin: 22px 0px 45px 0px;
}

footer .social-medias{
    list-style: none;
    padding-left: 0px;
}
footer .social-medias-li{
    height: 30px;
}
footer .sm-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
margin: 0px 0px 10px 10px;
position: relative;
left: 3px;
top: -6px;
}
footer .social-medias-li img{
    position: relative;
    top: 6px;
    margin-right: 10px;
}
footer .sm-link:hover{
color: #FE9013;
}
footer .nav-ul {
    position: relative;
    top: -68px;
    margin-left: 370px;
    padding-left: 0px;
}
footer .nav-ul .footer-designed-by {
    margin: 0px;
    height: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 180%;
    display: flex;
    position: relative;
    right: -140px;
    top: -5px;

}
footer .nav-ul li{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
}
footer .nav-ul .last-li{
    width: 78px;
}
.social-medias-li {
    height: 26px;
    margin: 5px 0px 5px 0px;
}
